body { margin-top: 6%;}


.navbar-nav a:hover {text-shadow:0 0 1px #111;}


.navbar-light .navbar-nav .nav-link {
    font-size: 15px;} 
  
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{text-shadow:0 0 1px #111;}

.navbar-light .navbar-nav .nav-link:hover {color:#111;}


.img-fluid {width: 100%;}


.fab {font-size: 15px;}


h3 {font-style: italic;}


.carousel-item p {font-style: italic;}


.rite p { 
  background-color:#111; 
  color:#9e9d9d; 
  text-align: center; 
  padding-left: 10px; 
  padding-top: 200px; 
  font-style: italic;}


.rite a {color:white;}


.middleAction h3 {text-align: center;}


.middleAction p {
  text-align: center;
  font-style: italic;}


.last {margin-top: 10px;}


.image {
  display: block;
  width: 100%;
  height: auto;}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #111;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;}


.text {
  white-space: nowrap;
  text-align: center; 
  color: #9e9d9d;
  font-size: 1rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-style: italic;}


.enclose{
  position: relative;
  width: 100%;}


.enclose:hover .overlay {
  width: 100%;
  left: 0;}


.enclose a {
  color:white; 
  text-decoration: underline;}

  footer {
  border-top: 1px solid #111; 
  margin-top: 100px;
  text-align: center; 
  font-style: italic;}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{ padding-left: 0;padding-right: 0;}